// My Account Css Here
.myaccount__section {
    @media #{$extra__small}{
        margin-bottom: 53px;
    }
}
.dashboard_page_content {
    @media #{$extra__small}{
        flex-direction: column;
    }
}
.dashboard_nav_btn{
    width: 340px;
    @media #{$small__mobile}{
        width: 200px;
    }
    @media #{$extra__small}{
        width: 100%;
        margin-bottom: 28px;
    }
    & ul.nav{
        flex-direction: column;
        & li{
            margin-bottom: 12px;
            &:last-child{
                margin-bottom: 0;
            }
            & a{
                display: block;
                background: #f7f7fb;
                font-size: 15px;
                font-weight: 500;
                line-height: 32px;
                padding: 6px 20px;
                border-radius: 5px;
                &:hover{
                    color: $secondary__color;
                }
                &.active{
                    color: $secondary__color;
                }
            }
        }
    }
}

.dashboard__details{
    width: calc(100% - 340px);
    padding-left: 30px;
    @media #{$small__mobile}{
        width: calc(100% - 200px);
        padding-left: 20px;
    }
    @media #{$extra__small}{
        width: 100%;
        padding-left: 0;
    }
}


.dashboard__content{
    & h3{
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        margin-bottom: 15px;
        @media #{$extra__small}{
            font-size: 19px;
            line-height: 23px;
            margin-bottom: 11px;
        }
    }
    & p{
        color: #555;
        font-size: 15px;
        line-height: 34px;
        & a{
            color: $secondary__color;
            &:hover{
                text-decoration: underline;
            }
        }
        @media #{$medium__device}{
            line-height: 30px;
        }
        @media #{$small__mobile}{
            font-size: 14px;
            line-height: 28px;
        }
    }
}

.dashboard__table{
    & table{
        & thead{
            background: #f7f7fb;
            & tr{
                & th{
                    border: 0;
                }
            }
        }
        & tbody{
            & tr{
                & td{
                    color: #333333;
                    padding: 12px 15px;
                    @media #{$medium__device}{
                        min-width: 170px;
                        &:first-child{
                            min-width: 50px;
                        }
                        &:last-child{
                            min-width: 80px;
                        }
                    }
                    @media #{$small__mobile}{
                        min-width: 170px;
                        &:first-child{
                            min-width: 30px;
                        }
                        &:last-child{
                            min-width: 60px;
                        }
                        &:nth-child(3){
                            min-width: 80px;
                        }
                    }
                    & a{
                        font-weight: 600;
                        display: inline-block;
                        &:hover{
                            color: $secondary__color;
                        }
                    }
                }
            }
        }
    }
}

.dashboard__table.dashboard__downloads{
    & table{
        & tbody{
            & tr{
                & td{
                    @media #{$medium__device}{
                        min-width: 190px;
                       &:first-child{
                            min-width: 260px;
                       }
                       &:nth-child(3){
                           min-width: 100px;
                       }
                    }
                    @media #{$small__mobile}{
                        min-width: 190px;
                       &:first-child{
                            min-width: 260px;
                       }
                       &:nth-child(3){
                           min-width: 100px;
                       }
                    }
                }
            }
        }
    }
}

.dashboard__addresses__text{
    background: #f7f7fb;
    padding: 15px 30px;
    border-radius: 5px;
    @media #{$medium__device}{
       margin-bottom: 20px;
    }
    @media #{$small__mobile}{
        padding: 15px 20px;
        margin-bottom: 12px;
    }
    
}

.dashboard_form_input{
    margin-bottom: 20px;
    & label{
        color: #555;
        font-size: 14px;
        line-height: 22px;
        font-weight: 500;
        margin-bottom: 10px;
        & span{
            color: $secondary__color;
        }
    }
    & input{
        height: 35px;
        width: 100%;
        padding: 0 15px;
        border-radius: 5px;
        background: #f7f7fb;
        &:focus{
            background: #fff;
            border-color: $secondary__color !important;
        }
    }
}