//Shop Page Css Here
.shop_page_section{
    &.mb-80{
        @media #{$small__mobile}{
            margin-bottom: 60px;
        }
        
    }
    &.mb-50{
        @media #{$medium__device}{
            margin-bottom: 80px;
        }
        @media #{$small__mobile}{
            margin-bottom: 60px;
        }
    }
    &.mb-70{
        @media #{$large__device}{
            margin-bottom: 50px;
        }
        @media #{$medium__device}{
            margin-bottom: 80px;
        }
        @media #{$small__mobile}{
            margin-bottom: 60px;
        }
    }
}
.breadcrumb__bg {
    padding: 15px 0;
    background: #f7f7fb;
    &.mb-75{
        @media #{$small__mobile}{
            margin-bottom: 55px;
        }
    }
}

/*Sidebar Widget Css */
.offcanvas_widget_filter{
    width: 355px;
	position: fixed;
	background: #fff;
	z-index: 999;
	top: 0;
	height: 100vh;
    transition: .5s;
    left: 0;
    margin-left: -355px;
    padding: 60px 30px 30px;
    overflow-y: auto;
    &.active{
        margin-left: 0;
    }
    @media #{$extra__small}{
        width: 300px;
        padding: 60px 20px 30px;
        margin-left: -300px;
    }
}
.widget_filter_btn{
    display: none;
    @media #{$medium__device}{
        display: block;
    }
    @media #{$small__mobile}{
        display: block;
    }
    & span{
        padding: 0 12px;
        height: 30px;
        line-height: 30px;
        background: $primary__color;
        color: $white;
        font-size: 14px;
        font-weight: 500;
        display: inline-block;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
            opacity: 0.9;
        }
    }
}
.sidebar_widget{
    @media #{$medium__device}{
        margin-top: 70px;
    }
    @media #{$small__mobile}{
        margin-top: 60px;
    }
}
.filter__close {
	position: absolute;
    left: 25px;
    top: 18px;

    & span{
        font-size: 18px;
        cursor: pointer;
        transform: scale(1) rotate(0deg);
        display: inline-block;
        transition: .5s;
        &:hover{
            color: #e4435b;
            transform: scale(1.3) rotate(180deg);
        }
    }
}
.search__widget {
	& form {
        display: inline-block;
		position: relative;
        width: 100%;
		& button {
			&:hover {
				color: #e4435b;
			}
			background: none;
			position: absolute;
			right: 0;
			font-size: 16px;
			height: 100%;
			width: 50px;
			cursor: pointer;
			transition: .3s;
		}
		& input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: #555;
        }
        & input::-moz-placeholder { /* Firefox 19+ */
           color: #555;
        }
        & input:-ms-input-placeholder { /* IE 10+ */
           color: #555;
        }
        & input:-moz-placeholder { /* Firefox 18- */
           color: #555;
        }
		& input {
			font-size: 13px;
            color: #555;
            font-weight: 500;
            width: 100%;
            height: 37px;
            padding: 0 40px 0 0;
		}
	}
}

.shop_widget_list{
    padding-bottom: 40px;
    &:last-child{
        padding-bottom: 0;
    }
    @media #{$large__device}{
        padding-bottom: 30px;
    }
    @media #{$small__mobile}{
       padding-bottom: 50px;
    }
	h2{
		font-size: 20px;
        text-transform: capitalize;
        padding-bottom: 8px;
        margin-bottom: 18px;
        position: relative;
        display: block;
        cursor: pointer;
        @media #{$large__device}{
           font-size: 18px;
        }
        @media #{$small__mobile}{
            font-size: 16px;
            padding-bottom: 7px;
            margin-bottom: 12px;
        }
		&::before {
			position: absolute;
			content: "";
			width: 40px;
			height: 2px;
			background: #282828;
            left: 0;
            bottom: 0;
		}
        &::after{
            position: absolute;
            display: block;
            top: 4px;
            right: 10px;
            content: "\f104";
            font-family: "Ionicons";
            cursor: pointer;
            font-size: 16px;
        }
	}
}

.categories__widget{
    & > ul{
        & > li{
            line-height: 20px;
            margin-bottom: 13px;
            position: relative;
            &:last-child{
                margin-bottom: 0;
            }
            & > a{
                font-weight: 500;
                line-height: 20px;
                display: inline-block;
                text-transform: capitalize;
                &:hover{
                    color: $secondary__color;
                }
            }
            & span{
                position: absolute;
                top: 50%;
                transform: translatey(-50%);
                right: 10px;
                font-size: 12px;
                width: 20px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                background: #f6f6f6;
                border-radius: 50%;
                display: inline-block;
                
            }
        }
    }
}

.color__widget {
	ul {
		li {
			margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
            & a{
                text-transform: capitalize;
                &:hover{
                    color: $secondary__color;
                }
                & span{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 10px;
                    &.red{
                        background: #fe0000;
                    }
                    &.black{
                        background: #000000;
                    }
                    &.yellow{
                        background: #f9f900;
                    }
                    &.gray{
                        background: #818181;
                    }
                    &.green{
                        background: #027b02;
                    }
                    &.blue{
                        background: #0000fe;
                    }
                }
            }
		}
	}
}
.size__widget {
	ul {
		li {
			display: inline-block;
            margin: 0 7px 7px 0;
            & a{
                width: 32px;
                height: 32px;
                text-align: center;
                line-height: 30px;
                font-size: 12px;
                font-weight: 500;
                background: #f6f6f8;
                border-radius: 50%;
                display: inline-block;
                &:hover{
                    color:$secondary__color;
                }
            }
		}
	}
}

.tag__widget{
    & ul{
        & li{
            display: inline-block;
            & a{
                text-transform: capitalize;
                font-size: 13px;
                padding: 3px 10px;
                background: #f6f6f8;
                margin: 0 4px 8px 0;
                display: inline-block;
                line-height: 18px;
                &:hover{
                    color:$secondary__color;
                }
            }
        }
    }
}
.filter_price_count{
    & span{
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        display: inline-block;
    }
}
.price_slider_input {
	button {
		display: block;
		border: none;
		background: #282828;
		color: #fff;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 600;
		padding: 6px 25px;
		margin-top: 18px;
		border-radius: 5px;
		-webkit-transition: .3s;
		transition: .3s;
        line-height: 20px;
		&:hover {
			background: #e4435b;
		}
	}
}


.small__product{
    & > h2{
        cursor: auto;
        &::after{
            display: none;
        }
    }
    & .product_grid_img{
        width: 90px;

    }
    & .product_grid_content{
        width: calc(100% - 90px);
        padding: 0 0 0 15px;
    }
    & .product__ratting{
        margin-bottom: 7px;
        & ul{
            & li{
                & a{
                    font-size: 16px;
                }
            }
        }
        
    }
    & .product__price {
        margin-top: 11px;
    }
}

/* Shop Gallery Css */
.shop_page_header {
    padding-bottom: 17px;
	margin-bottom: 30px;
}

.shop__toolbar__btn{
    & ul{
        & li{
            margin-right: 12px;
            &:last-child{
                margin-right: 0;
            }
            & a{
                font-size: 18px;
                color: $primary__color;
                opacity: 0.5;
                &.active{
                    opacity: 1;
                }
                &:hover{
                    opacity: 1;
                }
                
            }
        }
    }
}
.page__amount{
    @media #{$small__mobile}{
       display: none;
    }
    & p{
        color: #555;
        font-weight: 500;
        
    }
}
.sorting__by{
    @media #{$extra__small}{
       display: none;
    }
    & .nice-select{
        height: 38px;
        line-height: 36px;
    }
}

.pagination{
    justify-content: center;
    & ul{
        & li{
            display: inline-block;
            width: 35px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            background: #f1f1f1;
            margin-left: 3px;
            font-weight: 500;
            border-radius: 3px;
            &:first-child{
                margin-left: 0;
            }
            & a{
                width: 35px;
                height: 35px;
                line-height: 35px;
                display: inline-block;
                border-radius: 3px;
                &:hover{
                   background: #000000;
                    color: $white; 
                }
                
            }
            &.current{
                background: #000000;
                color: $white;
            }
            &.next{
                 width: 45px;
                & a{
                    width: 45px;
                }
            }
            &.prev{
                 width: 45px;
                & a{
                    width: 45px;
                }
            }
        }
    }
}


//Shop List Css
.shop_list_product{
    & .product_grid_img{
        width: 32%;
        @media #{$small__mobile}{
           width: 38%;
        }
        @media #{$extra__small}{
          width: 100%;
        }
        
    }
    & .product_grid_items > .d-flex{
        @media #{$extra__small}{
          flex-direction: column;
        }
    }
}

.shop_list_content{
    padding-left: 30px;
    width: 68%;
    @media #{$small__mobile}{
        padding-left: 18px;
        width: 62%;
    }
    @media #{$extra__small}{
        width: 100%;
        padding-left: 0;
        padding-top: 20px;
    }
    & h4{
        font-size: 20px;
        line-height: 22px;
        font-weight: 500;
        text-transform: capitalize;
        margin-bottom: 10px;
        & a{
            &:hover{
                color: $secondary__color
            }
        }
        @media #{$small__mobile}{
           font-size: 17px;
            line-height: 18px;
            margin-bottom: 7px;
        }
        @media #{$extra__small}{
            font-size: 16px;
        }
    }
    & .product__price {
        margin-top: 11px;
        @media #{$small__mobile}{
           margin-top: 6px;
        }
    }
}

.product__ratting{
    & ul{
        & li{
            line-height: 20px;
            margin-right: 2px;
            &:last-child{
                margin-right: 0;
            }
            & a{
                font-size: 18px;
                color: #ffb503;
            }
            @media #{$small__mobile}{
              font-size: 16px;
            }
        }
    }
}

.product__desc{
    padding: 20px 0 23px;
    @media #{$small__mobile}{
      padding: 10px 0 14px;
    }
    & p{
        color: #555;
        line-height: 22px;
        font-size: 13px;
        @media #{$small__mobile}{
          line-height: 20px;
        }
    }
}

.list_action_links{
    & ul{
        & li{
            margin-right: 5px;
            &:last-child{
                margin-right: 0;
            }
            & a{
                font-size: 16px;
                line-height: 36px;
                height: 37px;
                padding: 0 10px;
                display: inline-block;
                background: $primary__color;
                color: $white;
                &:hover{
                    background: $secondary__color;
                    color: $white;
                }
                @media #{$small__mobile}{
                    font-size: 14px;
                    line-height: 33px;
                    height: 33px;
                    padding: 0 10px;
                }
            }
        }
    }
}


// Shop NO Sidebar Css Here
.shop__filter__btn {
    @media #{$extra__small}{
        justify-content: space-between;
        width: 100%;
    }
}
.filter__block{
    display: block;
    margin-right: 30px;
    
}
.widget__filter{
    & .shop_widget_list{
        width: 20%;
    }
    
}

// Shop Fullwidth Css Here
.shop__fullwidth{
    padding: 0 45px;
    @media #{$large__device}{
        padding: 0;
    }
    @media #{$medium__device}{
        padding: 0;
    }
    @media #{$small__mobile}{
        padding: 0;
    }

}
.shop__gallery__fullwidth{
    & .col-lg-2{
        @media #{$extra__large__device}{
            width: 20%;
        }
        @media #{$large__inner__device}{
            width: 25%;
        }
        @media #{$large__device}{
            width: 25%;
        }
    }
}