
// lookbook css here
.lookbook__items{
    position: absolute;
    &.one{
        top: 17%;
        left: 18%;
        @media #{$extra__small}{
            left: 12%;
        }
    }
    
    &.two{
        top: 62%;
        left: 54%;
        @media #{$extra__small}{
            top: 57%;
        }
        & .lookbook__items__content{
            @media #{$small__mobile}{
                left: -32px;
             }
             @media #{$extra__small}{
                left: -130px;
             }
        }
    }
    &.three{
        top: 3%;
        right: 27%;
        & .lookbook__items__content{
            @media #{$medium__device}{
                right: 0;
                left: auto;
             }
             @media #{$small__mobile}{
                right: 0;
                left: auto;
             }
             @media #{$extra__small}{
                right: -55px;
            }
             & .lookbook__close{
                @media #{$medium__device}{
                    left: -10px;
                    right: auto;
                    top: -14px;
                 }
                 @media #{$small__mobile}{
                    left: -10px;
                    right: auto;
                    top: -14px;
                 }
             }
        }
    }
    &.four{
        bottom: 35%;
        left: 18%;
    }
    &.banner_lookbook1{
        top: 31%;
        left: 47%;
        @media #{$medium__device}{
            left: 60%;
         }
        & .lookbook__items__content {
            @media #{$extra__large__device}{
               right: 0;
               left: auto;
            }
            @media #{$large__device}{
                right: -25px;
                left: auto;
             }
             @media #{$medium__device}{
                right: -25px;
                left: auto;
             }
             @media #{$small__mobile}{
                right: -25px;
                left: auto;
             }
             @media #{$extra__small}{
                right: -105px;
             }
            & .lookbook__close{
                @media #{$extra__large__device}{
                    left: -10px;
                    right: auto;
                    top: -14px;
                 }
                 @media #{$large__device}{
                    left: -10px;
                    right: auto;
                    top: -14px;
                 }
                 @media #{$medium__device}{
                    left: -10px;
                    right: auto;
                    top: -14px;
                 }
                 @media #{$small__mobile}{
                    left: -10px;
                    right: auto;
                    top: -14px;
                 }
            }
        }
    }
    &.banner_lookbook2{
        top: 12%;
        left: 10%;
        @media #{$extra__small}{
            left: 7%;
         }
    }
    &.banner_lookbook3{
        bottom: 11%;
        left: 63%;
        @media #{$extra__small}{
            left: 75%;
        }
        & .lookbook__items__content{
            @media #{$small__mobile}{
                right: -25px;
                left: auto;
             }
             & .lookbook__close{
                @media #{$small__mobile}{
                    left: -10px;
                    right: auto;
                    top: -14px;
                 }
             }
        }
    }
}

.lookbook__items__content{
    background: #fff;
    width: 255px;
    box-shadow: 0 0 2px #bbb;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 0;
    transition: .3s;
    z-index: -1;
    padding: 8px;
    &.active{
        opacity: 1;
        visibility: visible;
        z-index: 9;

    }
    

}
.lookbook_product_thumb{
    width: 85px;
}
.lookbook_product_contant{
    width: calc(100% - 85px);
    padding-left: 10px;
    & h4{
        font-size: 14px;
        line-height: 17px;
        text-transform: capitalize;
        font-weight: 400;
        & a{
            &:hover{
                color: $secondary__color;
            }
        }
    }
    & .btn__cart{
        opacity: 1;
        visibility: visible;
        bottom: inherit;
        position: inherit;
        left: inherit;
        transform: inherit;
        text-align: left;
        margin-top: 12px;
        & .btn{
            padding: 0 6px;
            width: 98px;
            background: #000000;
            height: 28px;
            line-height: 28px;
            border-radius: 5px;
            font-size: 11px;
            &::before{
                border-radius: 5px;
                font-size: 15px;
                line-height: 28px;
            }
          & span{
              color: #ffffff;
          }
        }
    }
    & .product__price {
        margin-top: 8px;
        & span.old__price{
            font-size: 14px;
        }
        & span.sale__price{
            font-size: 15px;
        }
    }
}
.lookbook_open_icon {
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    width: 22px;
    height: 22px;
    line-height: 24px;
    text-align: center;
    background: #000000;
    color: #ffffff;
    border-radius: 50%;
}
.lookbook__close{
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: -15px;
    font-size: 10px;
    width: 20px;
    height: 20px;
    line-height: 22px;
    text-align: center;
    background: #000000;
    color: #ffffff;
    top: -13px;
}