// preview css here
// mobile menu css here
.mobile_menu_open{
    margin-left: 20px;
    & a{
        font-size: 22px;
    }
}
.navbar_mobile_menu{
    & .offer_text{
        display: block;
    }
    & .language_selection{
        display: block;
    }
}
.panel-menu {
    width: 270px;
    background: #ffffff;
    position: fixed;
    z-index: 22;
    & .mm-prev-level{
        background: #f7f7fb;
        font-size: 16px;
        font-weight: 600 !important;
        color: #000000;
        & i{
            font-size: 13px;
            margin-right: 5px;
        }
    }
    & ul{
        & li{
            &.mm-close-parent{
                background: #f7f7fb;
                & a.mm-close{
                    display: inline-block;
                    font-size: 16px;
                    font-weight: 600;
                    & i{
                        font-size: 13px;
                        margin-right: 5px;
                    }
                }
            }
            & a{
                font-weight: 500;
                font-family: "Work Sans", sans-serif !important;
                font-size: 15px;
                line-height: 24px;
                &:hover{
                    color: $secondary__color;
                }
            }
        }
    }
}
.panel-menu li.mm-close-parent .mm-close:before {
    display: none;
}
.panel-menu .mm-close, .panel-menu .mm-prev-level, .panel-menu .mm-original-link {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
}
.hero_slider_thumb img {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.hero_slider_thumb {
    padding: 25px;
    @media #{$small__mobile}{
        padding: 0;
    }
}
.header__inner {
    padding: 30px 0;
    @media #{$extra__large__device}{
        padding: 30px 0;
    }
    @media #{$large__device}{
        padding: 30px 0;
    }
    @media #{$medium__device}{
        padding: 30px 0;
    }
    @media #{$small__mobile}{
        padding: 25px 0;
    }
}
.main_logo{
    & a{
        display: inline-block;
        & img{
            @media #{$extra__small}{
                width: 110px;
            }
        }
    }
}
.header__menu{
    @media #{$small__mobile}{
        display: none;
    }
    & nav{
        & ul{
            @media #{$extra__small}{
                flex-wrap: wrap;
                justify-content: center;
            }
            & li{
                margin-right: 28px;
                @media #{$medium__device}{
                    margin-right: 25px;
                }
                &:last-child{
                    margin-right: 0;
                }
                &:hover{
                    & a{
                        &::before{
                            width: 100%;
                        }
                    }
                }
                & a{
                    font-size: 18px;
                    line-height: 22px;
                    text-transform: capitalize;
                    font-weight: 500;
                    color: #000000;
                    position: relative;
                    padding: 8px 0;
                    display: inline-block;
                    &::before{
                        position: absolute;
                        content: "";
                        width: 0;
                        height: 2px;
                        background: #000000;
                        bottom: 0;
                        left: 0;
                        transition: .3s;
                    }
                    @media #{$medium__device}{
                        font-size: 17px;
                        line-height: 22px;
                    }
                }
            }
        }
    }
}
.purchase_now{
    & a{
        &.btn{
            background: #000000;
            font-weight: 600;
            &::before{
                font-weight: 600;
               background: #e4435b;
            }
            & span{
                color: #ffffff;
            }
            @media #{$extra__small}{
                font-size: 12px;
                padding: 0 12px;
                height: 38px;
                line-height: 38px;
            }
        }
    }
}
.hero__inner{
    padding: 82px 0 0;
    @media #{$extra__large__device}{
        padding: 82px 0 0;
    }
    @media #{$large__device}{
        padding: 82px 0 0;
    }
    @media #{$medium__device}{
        padding: 142px 0 80px;
    }
    @media #{$small__mobile}{
        padding: 122px 0 60px;

    }

}
.hero_content h1 span {
    font-size: 30px;
    line-height: 45px;
    font-weight: 500;
    display: inline-block;
    margin-top: 20px;
    @media #{$large__device}{
        font-size: 27px;
        line-height: 37px;
        margin-top: 16px;
    }
    @media #{$medium__device}{
        font-size: 23px;
        line-height: 33px;
        margin-top: 10px;
    }
    @media #{$small__mobile}{
        font-size: 22px;
        line-height: 25px;
        margin-top: 11px;
    }
    @media #{$extra__small}{
        line-height: 30px;
    }
}
.hero_content{
    position: relative;
    @media #{$small__mobile}{
        margin-bottom: 60px;
    }
    @media #{$extra__small}{
        text-align: center;
    }
    & h1{
        font-size: 42px;
        line-height: 55px;
        font-weight: 600;
        color: #000000;
        margin-bottom: 25px;
        @media #{$large__device}{
            font-size: 42px;
            line-height: 46px;
        }
        @media #{$medium__device}{
            font-size: 34px;
            line-height: 49px;
            margin-bottom: 15px;
        }
        @media #{$small__mobile}{
            font-size: 32px;
            line-height: 35px;
            margin-bottom: 15px;
        }
    }
    & p{
        font-size: 18px;
        color: #000000;
        line-height: 31px;
        margin-bottom: 30px;
        @media #{$large__device}{
            font-size: 17px;
            line-height: 30px;
            margin-bottom: 30px;
        }
        @media #{$medium__device}{
            font-size: 16px;
            line-height: 26px;
            margin-bottom: 24px;
        }
        @media #{$small__mobile}{
            font-size: 16px;
            line-height: 27px;
            margin-bottom: 24px;
        }

    }
    & a{
        &.btn{
            
            font-weight: 400;
            background: #000000;
            &::before{
                font-weight: 400;
                background: #e4435b;
            }
            & span{
                color: #ffffff;
            }
            
        }
    }
}

.hero__section{
    & .container{
        max-width: 1500px;
        @media #{$large__inner__device}{
            max-width: 1200px;
        }
        @media #{$small__mobile}{
            max-width: 576px;
        }
    }
}

.hero__section{
    background: #f7f7fb;
    height: 830px;
    @media #{$large__device}{
        height: 750px;
    }
    @media #{$medium__device}{
        height: auto;
    }
    @media #{$small__mobile}{
        height: auto;
    }
    &.mb-90{
        @media #{$medium__device}{
            margin-bottom: 73px;
        }
        @media #{$small__mobile}{
            margin-bottom: 53px;
        }
    }
}
.hero_banner_img{
    text-align: right;
}
.page_layouts_step{
    margin-bottom: 30px;
    @media #{$small__mobile}{
        margin-bottom: 0;
    }
}
.page_layouts_section{
    padding: 0 0 12px;
    @media #{$extra__large__device}{
        padding: 0 0 12px;
    }
    @media #{$large__device}{
        padding: 0 0 12px;
    }
    @media #{$medium__device}{
        padding: 0 0 5px;
    }
    @media #{$small__mobile}{
        padding: 0 0 30px;
    }
}
.section_title{
    margin-bottom: 60px;
    @media #{$large__device}{
        margin-bottom: 45px;
    }
    @media #{$medium__device}{
        margin-bottom: 40px;
    }
    @media #{$small__mobile}{
        margin-bottom: 32px;
    }
    & h2{
        font-size: 32px;
        line-height: 100px;
        font-weight: 600;
        position: relative;
        display: inline-block;
        margin-bottom: 25px;
        padding-bottom: 15px;
        @media #{$large__device}{
            font-size: 27px;
            line-height: 75px;
            margin-bottom: 22px;
            padding-bottom: 15px;
        }
        @media #{$medium__device}{
            font-size: 24px;
            line-height: 60px;
            margin-bottom: 20px;
            padding-bottom: 15px;
        }
        @media #{$small__mobile}{
            font-size: 22px;
            line-height: 55px;
            margin-bottom: 18px;
            padding-bottom: 7px;
        }
        @media #{$extra__small}{
            font-size: 21px;
            line-height: 50px;
        }
        &::before{
            position: absolute;
            content: "";
            width: 100px;
            height: 3px;
            background: $secondary__color;
            bottom: 0;
            left: 50%;
            transform: translatex(-50%);
        }
        & span.page_number{
            font-size: 130px;
            font-weight: 700;
           color: $secondary__color;
           vertical-align: middle;
            @media #{$large__device}{
                font-size: 90px;
            }
            @media #{$medium__device}{
                font-size: 75px;
            }
            @media #{$small__mobile}{
                font-size: 60px;
            }
        }
        & span.plus{
            font-size: 60px;
            vertical-align: middle;
            margin: 0 5px;
            @media #{$large__device}{
                font-size: 47px;
            }
            @media #{$medium__device}{
                font-size: 40px;
            }
            @media #{$small__mobile}{
                font-size: 35px;
            }
        }
    }
    & p{
        font-size: 18px;
        line-height: 28px;
        color: #333;
        @media #{$medium__device}{
            font-size: 17px;
            line-height: 24px;
        }
        @media #{$small__mobile}{
            font-size: 16px;
            line-height: 24px;
        }
    }
}


.page_layouts_bg{
    background: #f7f7fb;
    padding: 87px 0 12px;
    @media #{$extra__large__device}{
        padding: 87px 0 12px;
    }
    @media #{$large__device}{
        padding: 87px 0 12px;
    }
    @media #{$medium__device}{
        padding: 73px 0 4px;
    }
    @media #{$small__mobile}{
        padding: 52px 0 30px;
    }
}
.page_layouts_gallery{
    & .col-lg-4{
        padding-right: 25px;
        padding-left: 25px;
        @media #{$large__device}{
            padding-right: 15px;
            padding-left: 15px;
        }
        @media #{$medium__device}{
            padding-right: 15px;
            padding-left: 15px;
        }
        @media #{$small__mobile}{
            padding-right: 15px;
            padding-left: 15px;
        }
    }
}
.page_layouts_items{
    margin-bottom: 50px;
    @media #{$medium__device}{
        margin-bottom: 40px;
    }
    @media #{$small__mobile}{
        margin-bottom: 26px;
    }
    &:hover{
        & .page_layouts_thumb{
            transform: translateY(-10px);
            &::before{
                opacity: 0.3;
            }
        }
        & .page_layouts_text{
            & a{
                color: $secondary__color;
                & i{
                    padding-left: 10px;
                    color: $secondary__color;
                }
            }
        }
        & .view_details{
            opacity: 1;
            visibility: visible;
        }
    }
}

.page_layouts_thumb{
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    margin-bottom: 30px;
    transition: .4s;
    position: relative;
    @media #{$medium__device}{
        margin-bottom: 25px;
    }
    @media #{$small__mobile}{
        margin-bottom: 20px;
    }
    &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: $secondary__color;
        left: 0;
        top: 0;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
        opacity: 0;
        pointer-events: none;
    }
}

.view_details{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    & a{
        display: inline-block;
        font-size: 15px;
        line-height: 26px;
        font-weight: 400;
        color: #333333;
        text-transform: capitalize;
        background: #ffffff;
        border-radius: 25px;
        padding: 8px 22px;
        transition: .5s;
        &:hover{
            color: #ffffff;
            background: #000000;
        }
        @media #{$small__mobile}{
            font-size: 14px;
            line-height: 22px;
            padding: 6px 17px;
        }
        
    }
}
.page_layouts_text{
   text-align: center;
   & a{
        display: inline-block;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
        color: #333333;
        text-transform: capitalize;
        & i{
            transition: .3s;
            margin-left: 5px;
        }
        @media #{$small__mobile}{
            font-size: 16px;
            line-height: 22px;
        }
   }
}


.lynch_header_option{
    padding: 85px 100px 50px;
    @media #{$small__mobile}{
        padding: 85px 0 50px;
    }
}

.section_title2{
    @media #{$small__mobile}{
        margin-bottom: 22px;
    }
    & h2{
        line-height: 60px;
        @media #{$small__mobile}{
            line-height: 53px;
        }
    }
}

.laynch_header_img{
    margin-bottom: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    transition: .3s;
    & img{
        border-radius: 5px;
    }
    &:hover{
        transform: translateY(-10px);
    }
}



// features css here
.lynch_features_section{
    padding: 80px 0 62px;
    @media #{$medium__device}{
        padding: 61px 0 35px;
    }
    @media #{$small__mobile}{
        padding: 39px 0 37px;

    }
}
.features__box{
    text-align: center;
    border-radius: 10px;
    padding: 45px 15px;
    transition: .3s;
    @media #{$medium__device}{
        padding: 28px 12px;
    }
    @media #{$small__mobile}{
        padding: 22px 12px;
    }
    &:hover{
        box-shadow: 0 5px 30px rgba(0,0,0,.1);
        & .features__icon{
            transform: translateY(-8px);
        }
    }
    &.box1{
        .features__icon{
            & img{
                width: auto;
            }
        }
    }
    &.box11{
        .features__icon{
            & img{
                width: auto;
            }
        }
    }
}
.features__icon{
    & img{
        width: 62px;
        height: 62px;
    }
}
.features__icon{
    & img{
        transition: all 0.5s ease;
    }
    transition: .3s;
}

.features__name{
    margin-top: 20px;
    @media #{$medium__device}{
        margin-top: 15px;
    }
    @media #{$small__mobile}{
        margin-top: 15px;
    }
    & h5{
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        @media #{$medium__device}{
            font-size: 15px;
        }
        @media #{$small__mobile}{
            font-size: 15px;
            line-height: 18px;
        }
    }
}


// footer css here
.footer__section {
    padding: 98px 0 100px;
    background: #0A152F;
    @media #{$medium__device}{
        padding: 77px 0 80px;
    }
    @media #{$small__mobile}{
        padding: 58px 0 60px;
    }
}

.lynch__reviews{
    margin-bottom: 32px;
    @media #{$small__mobile}{
        margin-bottom: 27px;
    }
    @media #{$extra__small}{
        margin-bottom: 18px;
    }
    & ul{
        & li{
            margin-right: 8px;
            &:last-child{
                margin-right: 0;
            }
            & a{
                color: #F2B827;
                font-size: 24px;
                @media #{$extra__small}{
                    font-size: 20px;
                }
                
            }
        }
    }
}
.footer__text {
    & h2{
        font-size: 30px;
        color: #fff;
        line-height: 38px;
        font-weight: 500;
        margin-bottom: 10px;
        @media #{$small__mobile}{
            font-size: 28px;
            line-height: 33px;
            margin-bottom: 14px;
        }
        @media #{$extra__small}{
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 14px;
        }
    }
    & p{
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        
    }
    & a{
        &.btn{
            margin-top: 28px;
            @media #{$small__mobile}{
                margin-top: 20px;
            }
            @media #{$extra__small}{
                margin-top: 14px;
            }
        }
    }
}



// faq css here
.frequently__section{
    padding-bottom: 100px;
    padding-top: 100px;
    @media #{$medium__device}{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @media #{$small__mobile}{
        padding-bottom: 60px;
        padding-top: 42px;
    }
    & .section_title {
        & h2{
            line-height: 55px;
            margin-bottom: 0;
            @media #{$extra__small}{
                line-height: 53px;
            }
        }
        
    }
}

.frequently_steap_list{
    & .accordion-collapse{
        background: #fff;
    }
    margin-bottom: 20px;
    &:last-child{
        margin-bottom: 0;
    }
    & .accordion-button{
        border: 0;
        font-size: 18px;
        line-height: 28px;
        font-weight: 600;
        text-transform: capitalize;
        background: #fff;
        color: #000000;
        border-radius: 5px;
        text-align: left;
        &:focus{
            box-shadow: inherit;
        }
        &::after{
            background-image: none;
            content: "\f2c7";
            font-size: 18px;
            font-weight: 600;
            font-family: "Ionicons";
            height: auto;
            line-height: 1;
            transform: none !important;
            width: auto;
            transition: all 0.4s ease-out;
            -webkit-transition: all 0.4s ease-out;
            -moz-transition: all 0.4s ease-out;
            -ms-transition: all 0.4s ease-out;
            -o-transition: all 0.4s ease-out;
            color: #000000;
            padding-left: 13px;
        }
        &:not(.collapsed){
            color: $secondary__color;
            &::after{
                content: "\f2f4";
                position: relative;
                top: -2px;
                color: $secondary__color;
            }
        }
        @media #{$small__mobile}{
            font-size: 16px;
            line-height: 24px;
            padding: 10px 15px;
        }
    }
    & .accordion-collapse{
        border: 0;
    }
}


.frequently__desc{
    padding: 0px 20px 20px;
    & p{
        line-height: 26px;
        color: #555555;
        @media #{$small__mobile}{
            line-height: 24px;
        }
    }
}