
//Template Global CSS

//Google Fonts

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;900&display=swap');


//Font Family

$WorkSans: 'Work Sans', sans-serif;


*, *::after, *::before {
  box-sizing: border-box;
}

html, body {
    height: 100%;
}

body{
    line-height: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    font-family: $WorkSans;
    color: $primary__color;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin: 0;
    font-family: $WorkSans;
}

p:last-child {
    margin-bottom: 0;
}

a, button {
    color: inherit;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}
a, button, img, input, textarea, span {
    transition: all 0.3s ease 0s;
}
.btn:focus{
    box-shadow: none;
}
*:focus {
    outline: none !important;
}
a:focus {
    color: inherit;
    outline: none;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
button, input[type="submit"] {
    cursor: pointer;
}
img {max-width:100%;height:auto}

ul,ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
figure{
    margin: 0;
}
.bg__gray{
    background: #f7f7fb;
}
.container{
    max-width: 1200px;
    @media #{$small__mobile}{
        max-width: 576px;
    }
}
.container-fluid.width-calc {
    width: calc( 100% - 200px );
    @media #{$extra__large__device}{
        width: 100%;
    }
    @media #{$large__device}{
        width: 100%;
    }
    @media #{$medium__device}{
        width: 100%;
    }
    @media #{$small__mobile}{
        width: 100%;
    }
}
.header__transparent{
    position: absolute;
    width: 100%;
    z-index: 9;
    top: 0;
}
.section__fixed{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    transition: all .25s ease;
    backface-visibility: hidden;
    perspective: 800px;
}

.slick__navigation{
    &:hover{
        & > button{
            opacity: 1;
            visibility: visible;
        }
    }
    
    & > button{
        position: absolute;
        top: 50%;
        transform: translatey(-50%);
        left: 0;
        width: 32px;
        height: 32px;
        line-height: 32px;
        border: 1px solid #dee2e6;
        text-align: center;
        background: #ffffff;
        color: #000000;
        padding: 0;
        z-index: 9;
        border-radius: 4px;
        opacity: 0;
        visibility: hidden;
        &:hover{
            color: $secondary__color;
        }
        &.next_arrow{
            right: 0;
            left: auto;
        }
    }
}

#scrollUp {
	background: $secondary__color none repeat scroll 0 0;
	bottom: 85px;
	color: #ffffff;
	cursor: pointer;
	display: none;
	font-size: 20px;
	height: 45px;
    line-height: 47px;
	position: fixed;
	right: 12px;
	text-align: center;
	width: 45px;
	z-index: 9999;
	border-radius: 50%;
	border: 2px solid #fff;
	-webkit-transition: .3s;
	transition: .3s;
     &:hover i {
        animation-name: fadeInUp;
        animation-duration:1s;
        animation-fill-mode:both;
        animation-iteration-count: infinite;
    }
}

//Template Global Margin
.mb-80{
    margin-bottom: 80px;
}
.mb-78{
    margin-bottom: 78px;
}
.mb-75{
    margin-bottom: 75px;
}
.mb-72{
    margin-bottom: 72px;
}
.mb-70{
    margin-bottom: 70px;
}
.mb-68{
    margin-bottom: 68px;
}
.mb-67{
    margin-bottom: 67px;
}
.mb-55{
    margin-bottom: 55px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-42{
    margin-bottom: 42px;
}
.mb-35{
    margin-bottom: 35px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-20{
    margin-bottom: 20px;
}


//Template Global Padding








