
// Variables Color

//Primary Color
$primary__color: #232323;


//Secondary Color
$secondary__color: #e4435b;
$bg_grey_color: #f7f7fb;



//Dipult Color
$white: #ffffff;


//Responsive Variables
$extra__large__device : 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$large__inner__device : 'only screen and (min-width: 1200px) and (max-width: 1366px)';
$large__device : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$medium__device : 'only screen and (min-width: 768px) and (max-width: 991px)';
$small__mobile:'only screen and (max-width: 767px)';
$extra__small: 'only screen and (max-width: 575px)';